<footer>
  <div class="container">
    <hr>
    <p>
      Notice: This site is not a real tool for Eau Claire's Salon. It was created to display my coding progress on the
      road to becoming a Full Stack Developer.
    </p>
    <a target="_blank" href="https://github.com/basicjohn">Created by John Edmondson</a>
  </div>
</footer>
