<header>
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Stylists")'>Stylists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Stylists")'>Add Stylist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Clients")'>Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Clients")'>Add Client</a>
      </li>
    </ul>
  </div>
</header>
